.product-wrapper {
  padding: 80px 96px;
  align-items: start;
  display: flex;
  column-gap: 100px;

  .gallery {
    display: flex;
    column-gap: 40px;

    .all-img {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      height: 511px;
      overflow-x: auto;

      img {
        min-height: 80px;
        height: 80px;
        width: 79px;
        object-fit: cover;
      }

      &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.1);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.2);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);
      }

      &::-webkit-scrollbar-thumb:active {
        background: rgba(0, 0, 0, .9);
      }
    }

    .main-img {
      height: 511px;
      width: 610px;
      object-fit: cover;
    }
  }

  .product-info {
    font-family: Raleway, sans-serif;
    text-align: left;

    .brand {
      margin: 0;
      font-size: 30px;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0;
      color: #1D1F22;
    }

    .name {
      font-size: 30px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0;
      color: #1D1F22;
      margin: 16px 0 43px 0;
    }

    .caption {
      font-family: Roboto Condensed, sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0;
      color: #1D1F22;
      text-transform: uppercase;
      margin: 0 0 8px;
    }

    .text-attribute-wrapper {
      display: flex;
      column-gap: 12px;
      margin-bottom: 24px;

      .text-attribute {
        height: 45px;
        width: 63px;
        border: 1px solid #1D1F22;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Source Sans Pro, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.05em;
        cursor: pointer;

        &.active {
          background: black;
          color: white;
        }
      }
    }

    .swatch-attribute-wrapper {
      display: flex;
      column-gap: 8px;
      margin-bottom: 36px;

      .border {
        border: 1px solid transparent;
        padding: 1px;

        &.active {
          border: 1px solid #5ECE7B !important;
        }
      }

      .swatch-attribute {
        width: 32px;
        height: 32px;
      }
    }

    .price {
      font-family: Raleway, sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0;
      text-align: left;
      margin: 0 0 20px;
    }

    .add-cart-btn {
      width: 292px;
      height: 52px;
      background: #5ECE7B;
      text-transform: uppercase;
      color: #FFF;
      border: none;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 40px;
    }

    .description, .description h1, .description p {
      margin: 0;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0;
      text-align: left;
      width: 292px;
    }
  }
}
