.cart-product-wrapper{
  display: flex;
  justify-content: space-between;
  //row-gap: 40px;
  margin-bottom: 40px;
  .cart-product-info{
    width: 136px;
    .brand, .name{
      margin: 0;
      font-family: Raleway,sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0;
      text-align: left;
      color: #1D1F22;
    }
    .price{
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0;
      text-align: left;
      color: #1D1F22;
      margin: 4px 0 8px 0;
    }
    .caption{
      font-family: Raleway, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0;
      text-align: left;
      color: #1D1F22;
      margin: 0 0 8px;
    }
    .size-wrapper{
      display: flex;
      column-gap: 8px;
      margin-bottom: 24px;
      .size{
        height: 24px;
        width: 24px;
        border: 1px solid #1D1F22;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Source Sans Pro, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0;
        cursor: pointer;
        &.active{
          background: black;
          color:white;
        }
      }
    }
    .color-wrapper{
      display: flex;
      column-gap: 8px;
      margin-bottom: 36px;
      .border{
        border: 1px solid transparent;
        padding: 1px;
        &.active{
          border: 1px solid #5ECE7B !important;
        }
      }
      .color{
        width: 16px;
        height: 16px;
      }
    }
  }
  .cart-product-actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button{
      width: 24px;
      height: 24px;
      background: #FFF;
      border: 1px solid #1D1F22;
      color: #1D1F22;
    }
  }
  img{
    width: 121px;
    height: 190px;
    object-fit: cover;
  }
}
